
<div class="row-fluid">
  <div class="span6">
    <h3 class="heading">Kawasaki Ultra 250</h3>
    <blockquote>
      <p>Helt rå maskin, denne må oppleves!</p>
      <small><cite title="Source Title">Motor Magasin 2012</cite></small>
    </blockquote>

    <dl class="dl-horizontal">
      <dt>Engine</dd>
      <dd>Supercharged and intercooled, four-stroke, DOHC, four valve per cylinder, inline four-cylinder</dd>
  
      <dt>Displacement</dt>
      <dd>1,498 cc</dd>
      <dt>Bore x Stroke</dt> 
      <dd>83 x 69.2 mm</dd>
      <dt>Compression Ratio</dt>
      <dd>7.8:1</dd>
      <dt>Induction</dt>
      <dd>Roots-type supercharger with air-to-water intercooler</dd>
      <dt>Maximum boost</dt>
      <dd>11.4 psi</dd>
      <dt>Maximum horsepower</dt>  
      <dd>
        250hp @ 7,750 rpm<br/>
        <small>*HP measured in PS at the crankshaft under controlled conditions. Actual performance may vary.</small>
      </dd>
    </dl>    
  </div>

  <div class="span6">
    <img class="" src="img/07JT1500B_RED_LF.jpg" />
    <img style="margin: .5em 2em;" src="img/logo-kawasaki.jpg" />
    <span class="price">Fra kr 173 000,-</span>

  </div>
</div>



<div class="row-fluid head">
  <h3 class="heading">Filmer</h3>
    <blockquote>
      <p>Alle filmer er i DVD eller BluRay-format.</p>
    </blockquote>

  <div class="span4 movie">
    <img class="img-polaroid pull-left" src="http://www.jetpowernorge.no/images/WF02_small.jpg" />
    <h4>2002 JetX20 World Finals</h4>
      <p>Prepare yourself for serious on-the-water action with jammin footage from the Jet X20 World Finals, personal watercraft racing’s biggest annual event.</p>  
    <span class="price small">Kr 199,-</span>
  </div>
  <div class="span4 movie">
    <img class="img-polaroid pull-left" src="http://www.jetpowernorge.no/images/video_wf_01_250_small.jpg" />
    <h4>World Finals 2001</h4>
      <p>Prepare yourself for serious on-the-water action with jammin footage from the Jet X20 World Finals, personal watercraft racing’s biggest annual event.</p>  
    <span class="price small">Kr 199,-</span>
  </div>
  <div class="span4 movie">
    <img class="img-polaroid pull-left" src="http://www.jetpowernorge.no/images/front_small2.jpg" />
    <h4>Coastial Rage</h4>
      <p>Prepare yourself for serious on-the-water action with jammin footage from the Jet X20 World Finals, personal watercraft racing’s biggest annual event.</p>
      <span class="price small">Kr 199,-</span>
  </div>
</div>

<div class="row-fluid head">
  <div class="span12">
    <h3 class="heading">Kawasaki KFX 50</h3>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="span6">
      <blockquote>
        <p>Allsidig og lettkjørt ATV, perfekt for nybegynnere.</p>
        <small><cite title="Source Title">ATV Magazine 2013</cite></small>
      </blockquote>
      <div class="row-fluid">
        <div class="span6">
          <dl>
            <dt>Motor</dt><dd>49ccm Luft avkjølt, 2-takt, en sylinder med automatic oil injection</dd>
            <dt>Bore x stroke</dt><dd>41.0 x 37.8mm</dd>
            <dt>Forgasser</dt><dd>Mikuni VM12SC x1</dd>
            <dt>Tenning</dt><dd>CDI</dd>
            <dt>Start system</dt><dd>Recoil</dd>
            <dt>Giroverføring</dt><dd>Automat</dd>
            <dt>Overføring</dt><dd>Kjede</dd>
            <dt>Fjæring framme</dt><dd>Dobbel støtdemper</dd>
            <dt>Fjæring bak</dt><dd>Enkel støtdemper</dd>
          </dl>    
        </div>
      <div class="span6">
        <dl>
          <dt>Bremser framme</dt><dd>Tromler</dd>
          <dt>Bremser bak</dt><dd>Trommel</dd>
          <dt>Dekkdimensjon foran/bak</dt><dd>AT 16 x 8-7 / AT 16 x 8-7</dd>
          <dt>Mål</dt><dd>745/760/1260 MM</dd>
          <dt>Setehøyde</dt><dd>53,5 cm.</dd>
          <dt>Bakkeklaring</dt><dd>11,9cm</dd>
          <dt>Tørrvekt</dt><dd>71 kg.</dd>
          <dt>Bensintank</dt><dd>2,6 liter</dd>
          <dt>Farge</dt><dd>Kawasaki Lime Grønn</dd>
        </dl>
      </div>
    </div>
    </div>

    <div class="span6">
      <img class="" src="img/kawasaki-kfx50.png" />
      <img style="margin: .5em 2em;" src="img/logo-kawasaki.jpg" />
      <span class="price">Fra kr 19 990,-</span>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <small class="pull-right">Alle priser er veil inkl mva. Forbehold om endring av pris uten varsel.</small>
  </div>
</div>
