<div class="row">
  <div class="span12">

    <div style="text-align: center;">
      Jetpower Norge - Hammerstadveien 38, 2080 Eidsvoll - Tlf: +47 63960790 - Fax: +47 63965649 - Mob: +47 92453555
    </div>
  </div>
</div>