
  <div class="header">
    <div class="hero-unit">
      <img class="pull-right" src="img/logo-jetpower.gif" />
      <h1>JETPOWER NORGE</h1>
      <p style="margin-top: 1.5em;">Jetpower Norge holder til i Eidsvoll, sentralt ved Gardermoen.<br/>
      Vi selger Kawasaki jetski, produkter innen vannsport, deler for cross (de fleste merker kan skaffes), ATV&nbsp;(4-hjuling), deler for snøscootere, kjøreutstyr for vann og på land.
      </p>
    </div>
  </div>