<!--
<div class="row-fluid">
  <h2 class="heading big">N y h e t e r</h2>
</div>
-->
<div class="inverse" id="nyheter">
  <div class="row-fluid">
    <div class="span6">
      <h2 class="heading alt">Nye nettsider!</h2>
      <p class="lead text-center">
          Endelig har vi kommet igang med nye nettsider, nedenfor kan du se noen utvalgte produkter.
      </p>
      <div class="row-fluid">
        <div class="span6">
          <a class="btn btn-inverse span12"><i class="icon-question-sign icon-white"></i>&nbsp;Se våre tilbud på FINN.no</a>
        </div>
        <div class="span6">
          <a class="btn btn-inverse span12"><i class="icon-ok icon-white"></i>&nbsp;Vårsjekk&nbsp;av&nbsp;utstyr</a>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="" id="photos"></div>
      <span class="pull-right">Foto: <a href="http://www.flickr.com/photos/haddaway/" target="_blank">Matt Haddaway</a></span>
    </div>
  </div>

</div>